* , *::after , *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Montserrat , sans-serif;
  height: auto;
}
.clearfix{
  clear: both;
}

/* start header section */
.container{
  width: 1100px;
  margin: auto;
}

section.header{
  height: 600px;
  background-image: url(../images/header-bg.jpg);
  background-size:cover;
  position: relative;
}
.header_head img{
  width: 150px;
  height: 150px;
  float: left;
}
.header_head nav{
  float: right;
  padding-top: 50px;
}
.header_head nav ul li{
  display: inline-block;
  padding-left: 10px;

}
.header_head nav ul li a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;
}
.header .header_content{
  width: 800px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  text-align: center;

}
.header .header_content h1{
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-bottom: 25px;
}
.header .header_content p{
  font-size: 17px;
  color: white;
  line-height: 25px;
  margin: 10px;
  margin-bottom: 25px;
}
.header .header_content button{
  width: 180px;
  border: 0;
  outline: none;
  padding: 20px;
  font-size: 17px;
  margin-left: 10px;
 border-radius: 15px;
  cursor: pointer;
}
.header .header_content button:first-child{
  background-color: #fff;
  color: 000;
}
.header .header_content button:last-child{
  background-color: #8be2e5;
  color: #fff;
}
.header .header_content button:hover{
  background-color: rgb(230,180,130)
}
section.header .header_footer{
  width: 40px;
  height: 60px;
  position: absolute;
  bottom: 50px;
  left: 49%;
  border: 2px solid #fff;
  border-radius:18px;

}
section.header .header_footer .scroll{
  width: 5px;
  height: 10px;
  background: #fff;
  margin: auto;
  position: relative;
  top: 5px;
  animation: scroolling 2s ease-in-out infinite;
}
@keyframes scroolling {
  0%{
    opacity: 0;
    top:5px;
  }
  10%{
    opacity: 1;
    top:10px;
  }
  35%{
    opacity: 0;
    top:25px;
  }
  100%{
    opacity: 1;
    top: 40px;
  }

}
/* Be First Secton */
section.befirst{
  height: 600px;
  background-image: url(../images/be-the-first-bg.jpg);
  padding-top: 10%;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
}
section.befirst .befirst_center h2{
  color: white;
  font-weight: bold;
  font-size: 40px;

}
section.befirst .befirst_center p{
  color: white;
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 18px;
}
section.befirst .befirst_center .befirst_img img{
width: 400px;
}
/* Feature Secton */
section.feature{
  padding-bottom: 20%;
  text-align: center;
  padding-top: 250px;
}
section.feature .feature_feat{
  width: 30%;
  text-align: left;
  float: left;
  margin-right: 3%
}
section.feature .feature_feat:nth-of-type(1) hr{
  height: 5px;
  background-color: #643f96;
  border: 0;
}
section.feature .feature_feat:nth-of-type(2) hr{
  height: 5px;
  background-color: #70cbce;
  border: 0;
}
section.feature .feature_feat:nth-of-type(3) hr{
  height: 5px;
  background-color: #fdc05d;
  border: 0;
}
section.feature .feature_feat h2{
  font-size: 20px;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
}
section.feature .feature_feat p{
  color: #929496;
  line-height: 1.5;
}
/* Pricing section */
section.pricing{
  height: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #70cbce;
  text-align: center;
}
section.pricing h2{
  color: white;
  font-size: 45px;
  margin-bottom: 2%;
}
section.pricing p{
  color: white;
  font-size: 20px;
}
section.pricing .pricing_flex{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}
section.pricing .pricing_flex .flex_item{
  width: 32%;
}
section.pricing .pricing_flex .flex_item:nth-of-type(1),
section.pricing .pricing_flex .flex_item:nth-of-type(3){
  margin-top: 1%;
}
section.pricing .pricing_flex .flex_item ul{
  list-style: none;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
section.pricing .pricing_flex .flex_item ul:hover{
  margin-top: -10px;
}
section.pricing .pricing_flex .flex_item ul li.price{
  background-color: black;
  color: white;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
section.pricing .pricing_flex .flex_item ul li.doller{
  background-color: #231f20;
  color: white;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}
section.pricing .pricing_flex .flex_item ul:hover li.doller{
  background-color: white;
}

section.pricing .pricing_flex .flex_item ul li.doller small{
  color: gray;
}
section.pricing .pricing_flex .flex_item ul li.content{
  color: gray;
  padding: 10px;
  font-size: 15px;
  line-height: 30px;
}
section.pricing .pricing_flex .flex_item ul .list{
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
section.pricing .pricing_flex .flex_item ul li.btn{
  padding: 10px;
  color: #70cbce;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}
section.pricing .pricing_flex .flex_item ul li.btn:hover{
color: #f5f5f5;
}
/* Invite Section */
section.invite{
  background-color: #f5f5f5;
  height: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
}
section.invite i{
  color: #70cbce;
  font-size: 50px;
  border: 2px solid #70cbce;
  border-radius: 40px;
  padding: 10px;
  margin-bottom: 2%;
}
section.invite h2{
  font-size: 40px;
  margin-bottom: 2%;
}
section.invite p{
  color: gray;
  font-size: 20px;
  margin-bottom: 2%;
}
section.invite input{
  display: block;
  width: 300px;
  height: 50px;
  margin: auto;
  padding: 10px;
  margin-bottom: 2%;
  font-size: 16px;
  border: 0;
  background-color: #fff;
  border-radius: 10px;
}
section.invite button{
  width: 250px;
  height: 60px;
  background-color: #70cbce;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  margin-top: 1%;
  cursor: pointer;
}
/* information section */
section.info{
  padding-top: 10%;
  padding-bottom: 10%;
}
section.info .info_desc{
  width: 70%;
  margin: auto;
}
section.info .info_desc .info_img{
  width: 20%;
  float: left;
}
section.info .info_desc .info_content{
  width: 80%;
  float: left;
  line-height: 30px;
}
section.info hr{
  margin-top: 40px;
  background-color: gray;
}
section.info span{
  margin-top: 40px;
  font-weight: bold;
}
/* Footer section */
footer.footer{
  height: 150px;
  background-color: #eee;
  padding: 30px;
}
footer .footer_left{
  float: left;
  margin-top: 10px;
  font-size: 20px;
}
footer .footer_right{
  float: right;
  margin-top: 10px;
  font-size: 20px;

}
